.icon {
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  h1 {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .skill-box {
    margin: 28px 0 28px 0;
  }
}

@media screen and (min-width: 768px) {
  .skill-box {
    margin: 30px 0 30px 0;
  }
}

.skill-logo {
  text-align: center;
}

.devicon {
  font-size: 30px;
}

.skill-name {
  text-align: center;
}

.line {
  height: 14px;
}

@media screen and (max-width: 768px) {
  .line {
    margin-top: 5px;
  }
}

nav.cd-side-navigation ul li a {
  text-transform: uppercase;
  font-family: "Rajdhani", sans-serif;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 0 14px #61dafb;
  font-family: "Rajdhani", sans-serif;
  font-weight: lighter;
}

@media screen and (max-width: 768px) {
  h1 {
    letter-spacing: 0px;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    letter-spacing: 14px;
  }
}

@media screen and (min-width: 1100px) {
  .melavidu {
    margin-top: 1em;
    font-size:66px;
    letter-spacing: 14px;
  }
}

@media screen and (max-width: 1100px) {
  .melavidu {
    font-size:44px;
    letter-spacing: 0px;
  }
}

@media screen and (min-width: 1100px) {
  .melavidu {
    margin-top: 1em;
    font-size:66px;
    letter-spacing: 14px;
  }
}

@media screen and (max-width: 1100px) {
  .melavidu {
    font-size:44px;
    letter-spacing: 0px;
  }
}

@media screen and (max-width: 768px) {
  .social-btn-box a i {
    font-size: 17px;
  }
}

@media screen and (max-width: 768px) {
  .uniformity.social-btn-container {
    position: absolute;
    right: 14px;
    bottom: 5px;
  }
}
