.social-btn-container{
	text-align:center;
	/*margin:50px auto 0 auto;*/
}
.social-btn-container .social-btn-box{
	display:inline-block;

	-webkit-transform:rotate(45deg);
	   -moz-transform:rotate(45deg);
	    -ms-transform:rotate(45deg);
	     -o-transform:rotate(45deg);
	        transform:rotate(45deg);

	border:1px solid #fff;

	-webkit-border-radius:5px;
	   -moz-border-radius:5px;
	    -ms-border-radius:5px;
	     -o-border-radius:5px;
	        border-radius:5px;

	margin:15px;
	position:relative;
	overflow:hidden;
}

@media only screen and (max-width: 768px) {
	.social-btn-container .social-btn-box{
		width:32px;
		height:32px;
	}
}

@media only screen and (min-width: 768px) {
	.social-btn-container .social-btn-box{
		width:60px;
		height:60px;
	}
}

.social-btn-container .social-btn-box a{
	color:#fff;
	font-size:26px;
	display:inline-block;
	width:80px;
	height:80px;
	position:absolute;
	top:-10px;
	left:-10px;

	-webkit-transform:rotate(-45deg);
	   -moz-transform:rotate(-45deg);
	    -ms-transform:rotate(-45deg);
	     -o-transform:rotate(-45deg);
	        transform:rotate(-45deg);
}
@media only screen and (max-width: 768px) {
	.social-btn-container .social-btn-box a{
		line-height:32px;
	}
}
@media only screen and (min-width: 768px) {
	.social-btn-container .social-btn-box a{
		line-height:80px;
	}
}
.social-btn-box,
.social-btn-box a{

	-webkit-transition:all .25s;
	   -moz-transition:all .25s;
	    -ms-transition:all .25s;
	     -o-transition:all .25s;
	        transition:all .25s;
}
.social-btn-box:hover{
	border-color:transparent;
}
.social-btn-box .linkedin-btn:hover{
	background:#0077b5;
	color: #fff;
}
.social-btn-box .github-btn:hover{
	background:#333;
	color: #fff;
}
.social-btn-box .behance-btn:hover{
	background:#1769ff;
	color: #fff;
}
.social-btn-box .twitter-btn:hover{
	background:#55acee;
	color: #fff;
}
.social-btn-box .skype-btn:hover{
	background:#00aff0;
	color: #fff;
}

.social-btn-box .a:hover{
	background:#01D5DA;
	color: #fff;
}
